STDIN
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# Données (on ne commit pas les gros fichiers)
data/raw/
*.zip
*.csv
*.pkl

# OS specific
.DS_Store
Thumbs.db

# images
*.png